.formContainer{
    width:400px;
    margin: auto;
}

.fbIcon{  
    text-align: center; 
    color: rgb(33, 54, 243);
}
.googleIcon{  
    text-align: center; 
    color: rgb(75, 243, 33);
}
.upperArea{
    height:120px;
}